/* ====
 * TailwindCSS import
*/
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;}
    *,
    *::before,
    *::after {
        -webkit-box-sizing: inherit;
           -moz-box-sizing: inherit;
                box-sizing: inherit;
}
/* Custom Styles */

body {
    margin : 0 !important;
}

/*w-fit hover:bg-gray-100 transition-colors duration-100*/
a{
    width: fit-content;
}
a:hover{
    background-color: #f3f4f6;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
    transition-timing-function: var(--default-transition-timing-function);
    transition-duration: 100ms;
}

/* Cursor */

*, [role="button"], [role="link"] {
    cursor: url('../cursor/s-crosshair.cur'), auto !important;
}

/* Selection */
::-moz-selection { /* Code for Firefox */
    color: #27272a;
    background: #e4e4e7;
  }
  
  ::selection {
    color: #27272a;
    background: #e4e4e7;
  }

/* Fonts */
@font-face {
    font-family: 'texgyreheroes-regular';
    src: url(../fonts/texgyreheros-regular.otf);
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
.font-heros-regular {
    font-family: 'texgyreheroes-regular';
}

@font-face {
    font-family: 'texgyreheroes-italic';
    src: url(../fonts/texgyreheros-italic.otf);
    font-weight: 400;
    font-display: swap;
    font-style:italic;
}
.font-heros-italic {
    font-family: 'texgyreheroes-italic';
}

@font-face {
    font-family: 'PPSupplyMono-Ultralight';
    src: url(../fonts/PPSupplyMono-Ultralight.otf);
    font-weight: 100;
    font-display: swap;
    font-style: normal;
}
.font-PPSupplyMono-Ultralight {
    font-family: 'PPSupplyMono-Ultralight';
}


@font-face {
    font-family: 'epkyouka';
    src: url(../fonts/epkyouka.woff);
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
.font-epkyouka {
    font-family: 'epkyouka';
}

.font-arial-narrow {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.3;
}